body{
    text-align: center;    
}

form{
    width:35%;
    background-color: #00994d;
    display: inline-block;    
}

table{    
    width:100%;
    vertical-align:top;
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    background-color: #ccffcc;
    border-radius: 10px;
}

.loginError{
    color: red;
    font-weight: bold;
}

.loginInputGroup{
    width:100%;
    padding: 2px 2px 2px 2px;
    border-radius: 10px;
}

.loginInputGroup input{
    width:100%;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
}

.loginInputGroup button{
    width:100%;
    padding: 15px 15px 15px 15px;    
    background-color: #80bfff;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 10px;
}

.loginInputGroup button:hover{
    background-color: #f44336;
    border-radius: 10px;
}
