body{
    text-align: center;
}
table{
    width: 100%;
}

#welcomePageHeader{
    width: 100%;
    font-size: 15pt;
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    background-color: #ccffcc;
    border-radius: 10px;
}

#welcomePageBody{
    width: 100%;
    text-align: center;
    padding: 5px 5px 5px 5px;
    background-color: #ccffcc;
    border-radius: 10px;
}